.Activity-item {
  color: white;
  background-color: #62c5f2;
}

.Activity-title {
  text-decoration: none;
  height: 4em;
  line-height: 4em;
  width: 50%;
  float: left;
  border: 1px solid white;
  box-sizing: border-box;
  color: #62c5f2;
  background-color: white;
}
