.Activities-item {
  color: white;
  background-color: #62c5f2;
}

.Activity-create {
  margin-top: 0.5em;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  width: 100%;
  border: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  background-color: #00668f;
}
