.App {
  text-align: center;
}

.App-header {
  background-color: #1d94bf;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-signout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 1em;
}

.App-link {
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  width: 100%;
  border: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
}

.App-button {
  height: 3em;
  line-height: 3em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  color: white;
  background-color: #00668f;
  float: left;
}

.App-button:active {
  width: 99%;
  height: 2.9em;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
